html, body, .app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.header {
  height: 60px;
}
th {
  position: sticky;
  top: 61px;
}
.main {
  padding-top: 60px;
}
.firstPage {
  transform: rotate(180deg);
}
